 @import url('http://fonts.googleapis.com/earlyaccess/NanumSquare.css');
        * {margin: 0; padding: 0; font-family: 'NanumSquare',나눔스퀘어,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%; list-style: none; text-decoration: none;}
body.cors {margin:0; padding:0; font-size:18px; position:relative; zoom: 1; overflow-x: hidden;}
/* CSS Reset  */

/* 안과 밖에 여백을 0으로 초기화 */
html, body, div {margin:0; padding:0;} 

/* 링크가 걸린 이미지에 대해 테두리 점선을 초기화 */
a img {border: none;} 
a { selector-dummy : expression(this.hideFocus=true);}
a:active, a:focus { -moz-outline:none; outline:none; }

/* 가장 클래스 설정 */
.clear {clear: both;}

wrap {width: 100%;}
a:link, a:visited, a:active {color:#fff; text-decoration:none;}
a:hover {color:#c7b299; text-decoration:none;}
.demo-code{ background-color:#ffffff; border:1px solid #333333; display:block; padding:10px;}
.option-table td{ border-bottom:1px solid #eeeeee;}
#main {margin: 0; padding: 0; top: 0; clear: both; height: 550px; width: 100%; background: url(image/cor_mock1.jpg) no-repeat center center; background-size: 100%;}
#zz1 {width: 1000px; margin: 0 auto; font-size: 15px; margin-top: 30px; clear: both;}
.location {clear: both; width: 1000px; float: right;}
.location ul li {float: right; padding-left: 10px; cursor: pointer;}
#zz2 {width: 1000px; margin: 0 auto; text-align: center; margin-top: 60px; clear: both;}
#bb {border-bottom: 1px solid #333; margin: 50px 0; clear: both;}
#zz3 {width: 1000px; text-align: center; margin: 0 auto; font-weight: 600; clear: both;}
.mme {width: 1000px; margin: 0 auto; text-align: center; clear: both; margin-left: 50px;}
.mme ul li {margin: 0 auto; float: left; padding: 0 10px; text-align: center;}
#zz4 {width: 1000px; margin: 0 auto; margin-top: 150px; clear: both;}
.co {background-image: url(image/emsub2.jpg); width:1000px; height: 327px;}
p.coo {font-size: 30px; font-weight: 700; line-height: 40px; text-align: center; padding-top: 45px; padding-left: 33px;}

#zz5{width: 1000px; margin: 0 auto; text-align: justify; margin-top: 40px;}

footer {top: 0; bottom: 0; width: 100%; background-color:#0e7acd; margin: 0 auto;}
.second {width: 1000px; margin: 0 auto; font-size: 13px; clear: both; margin-top: 20px; color: #fff; }
.second ul li{float: left; list-style: none; cursor: pointer; padding: 20px 65px;}
.second2 {width: 1000px; margin: 0 auto; font-size: 13px; clear: both; color: #fff; clear: both;}
.second2 ul li {list-style: none; float: left; line-height: 30px; padding: 0; cursor: pointer;}
.first {width: 1000px; margin: 0 auto; text-align: center;}
.first ul li {float: left; margin:20px 24px; cursor: pointer; text-align: center; list-style: none;}
.allfooter {width: 100%; margin: 0 auto; background: #00174c; color: #fff; font-size: 12px;}
#foo {width: 1000px; margin: 0 auto; text-align: center;}
ul li {list-style: none;}



/* 대메뉴 */
.gnb ul li {margin-top: 24px; float:left; margin-left: 75px; padding:0; list-style:none; font-weight: 600;}
.gnb {width: 1000px; margin: 0 auto; z-index: 999;}

/* 대메뉴의 서브 */
.snb {display:none; width:100%; height:260px; background-color: rgba(0, 23, 76, 0.7); position:relative; z-index: 99; margin: 15px auto; margin-top: 50px;}


/* 회사소개 메뉴*/
a {text-decoration: none;
}

.box2 {
  position:relative;
  vertical-align: middle;
  color: #333;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 5PX;
  cursor: pointer;
  border: 2px solid #fff;
  -webkit-transition:0.5s;
}

.box2:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #333;
}

.box2::before, .box2::after {
  width: 100%;
  height:100%;
  z-index:33;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transition: 0.5s;
}
.curmudgeon::before {
  border-bottom: 3px solid #333;
  border-left: 0;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
}

.curmudgeon::after {
  border-top: 0;
  border-right: 0;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
}

.box2:hover::after, .box2:hover::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

/* 끝 */
