@charset "UTF-8";
@font-face{ 
    font-family:'ns'; 
    src:url('fonts/NanumSquareR_0.eot'); src:url('fonts/NanumSquareR_0.eot?#iefix') format(‘embedded-opentype’), url('fonts/NanumSquareR.woff') format(‘woff’), url('fonts/NanumSquareR_0.ttf') format('truetype'), url('fonts/NanumSquare.svg') format('svg');
}

/* CSS Reset  */

/* 안과 밖에 여백을 0으로 초기화 */
html, body, div {margin:0; padding:0; font-family: 'ns', sans-serif;} 

/* 링크가 걸린 이미지에 대해 테두리 점선을 초기화 */
a img {border: none;} 
a { selector-dummy : expression(this.hideFocus=true);}
a:active, a:focus { -moz-outline:none; outline:none; }

/* 가장 클래스 설정 */
.clear {clear: both;}

/* ---------------------- 프로젝트1 html ---------------------------------- */
#ground {width: 100%; margin: 0 auto; height: 100%;}
#back {min-width: 500px; max-width: 1000px; margin: 0 auto; padding: 25px 15px;}
.box {text-align: center; margin: 0 auto; font-family: 'ns',sans-serif;}
.box1 {margin: 0 auto; font-family: 'ns',sans-serif;}
span.mock {font-size: 20px; font-weight: 500; letter-spacing: 4px;}
h1.mock {text-align: center; line-height: 30px; letter-spacing: 3px;}

span.box1 {width: 180px; float:left; text-align: center; border: 1px solid #f47a79; font-size: 20px; text-align: center; height: 30px; box-shadow: -5px -5px #f47a79; -webkit-box-shadow: -5px -5px #f47a79; -ms-box-shadow: -5px -5px #f47a79 ; letter-spacing: 5px; padding: 5px 0 0 5px; margin-left: 41%; margin-top: 5px;}
a .box1{text-shadow: -2px -2px #f47a79;
     -webkit-text-shadow: -2px -2px #f47a79;
    -ms-text-shadow: -2px -2px #f47a79; font-weight: 600;}
span.box1 {color: #fff;}
span.box1:hover {color: #fee101; font-weight: 600;
transition: all 0.3s ease;}
h2.left {text-align: center; letter-spacing: 2px; font-size: 30px; margin-bottom: 0; border-top: 3px dashed #fee101; width: 500px; padding-top: 40px; margin: 0 auto; margin-top: 50px;}
span.basic {font-size: 30px; color: #bcbec0;}
ul.list {list-style: none;}
ul.list li {float: left; margin-right: 100px;}
ul.list2 {list-style: none; clear: both;}
ul.list2 li {float: left; margin-top: 10px; margin-bottom: 50px;}
ul.list2 li:nth-child(2) {padding-left: 137px;}
ul.list2 li:nth-child(3) {padding-left: 127px;}
ul.list2 li:nth-child(4) {padding-left: 131px;}
.footer2 {width:441px; height: 50px; margin: 0 auto; padding: 50px 0; font-size: 12px; font-family: 'dotum',sans-serif;}
.footer2 ul {list-style: none;}
.footer2 ul li {float: left; margin-right: 15px;}
.footer2 ul li:nth-child(4) {padding-right: 0; margin-right: 0;}
ul.a12 {list-style: none; text-align: center; margin: 0 auto;}
ul.a12 li {float: left; padding: 10px 0;}
ul.a12 li:nth-child(1) {padding-left: 70px;}
ul.a12 li:nth-child(2) {padding-left: 55px;}
ul.a12 li:nth-child(3) {padding-left: 140px;}
ul.a12 li:nth-child(4) {padding-left: 150px;}
ul.a12 li:nth-child(5) {padding-left: 70px;}


/* ---------------------- 프로젝트2 html ---------------------------------- */
ul.list3 {list-style: none; clear: both;}
ul.list3 li {float: left; margin-top: 10px; margin-bottom: 50px;}
ul.list3 li:nth-child(2) {padding-left: 160px;}
ul.list3 li:nth-child(3) {padding-left: 155px;}
ul.list3 li:nth-child(4) {padding-left: 150px;}

ul.ee {list-style: none;}
ul.ee li {float: left;}
ul.ee li:nth-child(1) {padding-left: 280px;}
ul.ee li:nth-child(2) {padding-left: 230px;}


/* ---------------------- 프로젝트3 html ---------------------------------- */

ul.steak {list-style: none;}
ul.steak li {float: left;}
ul.steak li:nth-child(1) {padding-left: 320px;}
ul.steak li:nth-child(2) {padding-left: 180px;}


/* ---------------------- 프로젝트4 html ---------------------------------- */

ul.camp {list-style: none;}
ul.camp li {float: left;}
ul.camp li:nth-child(1) {padding-left: 320px;}
ul.camp li:nth-child(2) {padding-left: 150px;}


/* ---------------------- 프로젝트5 html ---------------------------------- */
ul.em {list-style: none;}
ul.em li {float: left;}
ul.em li:nth-child(1) {padding-left: 250px;}
ul.em li:nth-child(2) {padding-left: 240px;}



/* ---------------------- 프로젝트6 html ---------------------------------- */
ul.a13 {list-style: none; text-align: center; margin: 0 auto;}
ul.a13 li {float: left; padding: 10px 0;}
ul.a13 li:nth-child(1) {padding-left: 360px;}
ul.a13 li:nth-child(2) {padding-left: 55px;}
