
@font-face {
  font-family: jua;
  src: local(ArialNarrow-Bold),
       local(ArialNarrow-Bold),
       url(ARIALNB.eot?#iefix) format('embedded-opentype'),
       url(ArialNarrow-Bold.woff) format('woff'),
       url(ArialNarrow.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: uu;
  src: local(ArialNarrow),
       local(ArialNarrow),
       url(ARIALN.eot?#iefix) format('embedded-opentype'),
       url(ArialNarrow.woff) format('woff'),
       url(ArialNarrow.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: eee;
  src: local(NanumSquareR),
       local(NanumSquareR),
       url(NanumSquareR_0.eot?#iefix) format('embedded-opentype'),
       url(NanumSquareR.woff) format('woff'),
       url(NanumSquareR.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
.f {font-family: 'eee',sans-serif; font-size: 18px;}
/* CSS Reset  */

/* 안과 밖에 여백을 0으로 초기화 */
html, body, div {margin:0; padding:0;} 

/* 링크가 걸린 이미지에 대해 테두리 점선을 초기화 */
a img {border: none;} 
a { selector-dummy : expression(this.hideFocus=true);}
a:active, a:focus { -moz-outline:none; outline:none; }

/* 가장 클래스 설정 */
.clear {clear: both;}

body {padding: 0;
  margin: 0;
font-family:'jua', sans-serif;
font-size: 18px;
line-height: 150%;
top: 0;
color: #333;
right: 0; overflow-x: hidden;}
#wi {text-align: center;}
    a {color: #b7b7b7; text-decoration: none;}
a:hover {color: #333; text-decoration: none;}
#wrap {width: 100%;}
nav {width: 1000px; margin: 0 auto; height: 130px; clear: both;}
.logo {float: left; width: 134px; height: 41px; margin-top: 43px; clear: both;}
.utility {float: right; font-size: 13px; color: #333; font-weight: 600; margin-top: -3px;}
.utility a {color: #333;}
.utility a:hover {color: #333;}
.utility ul li {float: left; list-style: none; padding-right: 25px;} 
#menu a#current
{border-bottom: 2px solid #333; padding-bottom: 5px;
	background: #fff; color: #333;
	
	border-bottom: 2px solid #333; padding-bottom: 5px;
	background: #fff; color: #333;
}

#menu {float: right; font-weight: 600; clear: both; height: 0px; margin-top: -50px; clear: both;}

.box1 {
  position:relative;
  vertical-align: middle;
  color: #b7b7b7;
  display: inline-block;
  height: 30px;
   text-align: center;
  transition: 0.5s;
  padding: 0 7px;
padding-bottom: 2px;
	cursor: pointer;
  border: 1px solid #fff;
  -webkit-transition:0.5s;
  -ms-transition:0.5s;
}

.box1:hover {
  border: 1px solid rgba(0,160,80,0);
  color: #333;
}

.box1::before, .box1::after {
  width: 100%;
  height:100%;
  z-index:33;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transition: 0.5s;
}
.curmudgeon::before {
  border-bottom: 3px solid #333;
  border-left: 0;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
}

.curmudgeon::after {
  border-top: 0;
  border-right: 0;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
}

.box1:hover::after, .box1:hover::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.a {width: 100%; height: 231px; background-color: #f1f1f1; margin: 0 auto; margin-top: -6px;}
#th {width: 1000px; margin: 0 auto; clear: both;}
.aaa {width: 220px; float: left; margin-top: 35px;  }
.aaa ul li {list-style: none; cursor: pointer;}
.d {width: 1000px; float: left; font-weight: 600; list-style: none; line-height: 60px; font-size: 25px;}
.dd {width:600px; float: right; margin-top: 65px; font-family: 'eee', sans-serif;}
.dd ul li {float: left; list-style: none;}
.lo {width: 300px; float: left;}
.lo ul li {list-style: none;}
.lo2 {width: 631px; float: right; margin-left: 10px; margin-top: 20px;}
#th ul {list-style: none; padding: 0; margin: 0;}
#th ul li {float: left;}
#th ul li:nth-child(odd) {clear: both;}
#th ul li:nth-child(3), #th ul li:nth-child(4), #th ul li:nth-child(5), #th ul li:nth-child(6) {margin-top: -6px;}
.tt {width: 500px; height: 153px; background-color: #f1f1f1; font-size: 25px; text-align: center; font-weight: 600; padding: 133px 0 45px 0; line-height: 30px;}

.r{clear: both; width: 1000px; height: 250px; margin: 0 auto;}
footer {padding-top: 100px; clear: both; width: 1000px; margin: 0 auto; text-align: center;}

/* 서브 스타일 */
h1 {width: 1000px; margin: 0 auto; text-align: center; font-family: 'jua',sans-serif; font-size: 40px;}
#submenu {width: 1000px; margin: 0 auto; clear: both;}
.sub1 {width: 458px; float: left; margin-top: 70px;}
.sub2 {width: 542px; float: right; margin-top: 70px;}
p.i {margin-top: 0;}
p.ii {line-height: 229px; font-weight: 600;}
p.iii {margin-bottom: 0;}
h2 {width: 1000px; margin: 0 auto; text-align: center; font-family: 'jua',sans-serif; padding-top: 100px; font-size: 40px;}
p.h1 {font-weight: 600; font-size: 30px; clear: both;}
p.h2 {font-family: 'eee',sans-serif; width: 415px;}
p.h22 {font-family: 'eee',sans-serif; width: 270px;}
p.h222 {font-family: 'eee',sans-serif; width: 270px;}
p.h2222 {font-family: 'eee',sans-serif; width: 150px;}
p.hh2 {font-family: 'eee',sans-serif; width: 428px;}
p.hhh2 {font-family: 'eee',sans-serif; width: 510px;}
li.h3 {width: 440px; float: right; margin-top: 130px; text-align: right;}
li.h33 {width: 590px; float: right; margin-top: 95px; text-align: right;}
li.h333 {width: 590px; float: right; margin-top: 25px; text-align: right;}
li.h3333 {width: 710px; float: right; margin-top: 25px; text-align: right;}
li.hh3 {width: 430px; float: right; margin-top: 95px; text-align: right;}
li.hhh3 {width: 350px; float: right; margin-top: 95px; text-align: right;}
li.h4 {width: 129px; margin-top: 130px; float: right; text-align: right;}
li.h44 {width: 129px; margin-top: 95px; float: right; text-align: right;}
li.h444 {width: 129px; margin-top: 25px; float: right; text-align: right;}
li.h4444 {width: 129px; margin-top: 23px; float: right; text-align: right;}
li.hh4 {width: 129px; margin-top: 95px; float: right; text-align: right;}
.zz {width: 1000px;}
.zz ul {list-style: none; padding: 0;}
.zz ul li {float: left;}

p.o {font-weight: 600; font-size: 30px; clear: both; margin-top: 50px;}
p.o1 {font-family: 'eee',sans-serif; width: 250px;}
p.o11 {font-family: 'eee',sans-serif; width: 140px;}
p.o111 {font-family: 'eee',sans-serif; width: 210px;}
p.o1111 {font-family: 'eee',sans-serif; width: 100px;}
li.o2 {width: 610px; float: right; margin-top: 130px; text-align: right;}
li.o22 {width: 720px; float: right; margin-top: 30px; text-align: right;}
li.o222 {width: 650px; float: right; margin-top: 30px; text-align: right;}
li.o2222 {width: 760px; float: right; margin-top: 30px; text-align: right;}
li.o3 {width: 129px; margin-top: 130px; float: right; text-align: right; }
li.o33 {width: 129px; margin-top: 30px; float: right; text-align: right; }
li.o333 {width: 129px; margin-top: 30px; float: right; text-align: right; }
li.o3333 {width: 129px; margin-top: 30px; float: right; text-align: right;}